<td>
    <a href="{{ path('sylius_invoicing_admin_invoice_show', {'id': hookable_metadata.context.invoice.id}) }}" class="text-decoration-none">{{ pifact_number(hookable_metadata.context.invoice) }}</a>
</td>
